.venv/
.pytest_cache/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/
.coverage
.hypothesis/
.mypy_cache/
.ruff_cache/
.tox/
htmlcov/
*.so
*.dylib
*.log
.DS_Store
